/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
   
@font-face {
    font-family: 'dearjoeitalic';
    src: url('../fonts/dearji__-webfont.eot');
    src: url('../fonts/dearji__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dearji__-webfont.woff') format('woff'),
         url('../fonts/dearji__-webfont.ttf') format('truetype'),
         url('../fonts/dearji__-webfont.svg#dearjoeitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}   

@font-face {
    font-family: 'bitterregular';
    src: url('../fonts/bitter-regular-webfont.eot');
    src: url('../fonts/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitter-regular-webfont.woff') format('woff'),
         url('../fonts/bitter-regular-webfont.ttf') format('truetype'),
         url('../fonts/bitter-regular-webfont.svg#bitterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ===== Primary Styles ========================================================
   Author: Dan 'The Man' Hodkinson
   ========================================================================== */

body{
	font-family: helvetica, arial;
	color: #000
}

#page{
	position: relative;
	float: left;
	width: 1754px;
	height: 2481px;
	background: url(../img/background.jpg) no-repeat;
	
}


#header{
	width: 1754px;
	height: 750px;
	margin:0px;
	padding:0px;
	border: solid #F00 0px;
}

#header-title{
  position: relative;
  left: 64px;
  top: 300px;
  width: 1170px;
  border: none;
  font-family: 'Deja Vu Sans';
  font-weight: bold;
  font-size: 90px;
  line-height: 74px;
  color: #fff;
  margin: 0px;
  text-align: center;
  text-transform: uppercase;
  border: solid #F00 0px;
  -ms-transform: rotate(-7deg);
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg);
}


#content
{
	position: relative;
	top:770px;
}



.content{
	background: #fff;
	background: rgba(255,255,255, 0.9);
	width: 1100px;
	font-family: 'Deja Vu Sans';
	font-weight: bold;
	margin:0px 0 20px 293px;
	padding:35px 35px 5px 35px;
  min-height: 345px;
}

.text-box-title{
	font-size: 40px;
	line-height:42px;
	border: none;
	margin: 0 0 20px 0;
	color: #794689;

}

/*< wysiwyg font sizes a5 px*2.93 >*/
.wysiwyg-h6{
  font-size:35px;
}
.wysiwyg-h5{
  font-size:41px;
}
.wysiwyg-h4{
  font-size:47px;
}
.wysiwyg-h3{
  font-size:64px;
}
.wysiwyg-h2{
  font-size:76px;
}
.wysiwyg-h1{
  font-size:105px;
}
.content p {
  line-height: 1.2em;
}

.wysiwyg-text{
  margin-bottom: 0.3em !important;
  margin-top: 0px !important;
  font-weight: normal;
}
/*</ wysiwyg font sizes >*/