/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */
   
@font-face {
    font-family: 'dearjoeitalic';
    src: url('../fonts/dearji__-webfont.eot');
    src: url('../fonts/dearji__-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dearji__-webfont.woff') format('woff'),
         url('../fonts/dearji__-webfont.ttf') format('truetype'),
         url('../fonts/dearji__-webfont.svg#dearjoeitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}   

@font-face {
	font-family: 'Conv_HelveticaNeue';
	src: url('../fonts/HelveticaNeue.eot');
	src: local('☺'), url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('truetype'), url('../fonts/HelveticaNeue.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'bitterregular';
    src: url('../fonts/bitter-regular-webfont.eot');
    src: url('../fonts/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bitter-regular-webfont.woff') format('woff'),
         url('../fonts/bitter-regular-webfont.ttf') format('truetype'),
         url('../fonts/bitter-regular-webfont.svg#bitterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }


/* ===== Primary Styles ========================================================
   Author: Dan 'The Man' Hodkinson
   ========================================================================== */

body{
	font-family: helvetica, arial;
	color: #000
}

#page{
	position: relative;
	float: left;
	width: 2481px;
	height: 1751px;
	background: url(../img/5-day-menu.jpg) no-repeat;
}


#company{
	position: absolute;
	top: 120px;
	left: 603px;
	width: 1170px;
	font-family: 'bitterregular';
	font-weight: normal;
	font-size: 55px;
	line-height:68px;
	color:#FFF;
	padding: 10px 25px;
}

.table{
	border-top: 8px solid #ec6b06;
	border-bottom: 6px solid #ec6b06;
	background: #fff;
	background: rgba(255,255,255, 0.9);
	position: absolute;
	top: 385px;
	left: 83px;
	width: 2320px;
	font-family: 'Conv_HelveticaNeue';
	font-weight: normal;
}

.bottom-border{
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: 2px solid #ec6b06;
}

.table .col{
	display: block;
	float: left;
	width: 464px;	
}

.table div{
	vertical-align: top;
}

.table ul {
	padding: 0;
	margin: 0;
}
.table .col li{

	line-height:1.2em;
	height: 96px;
	list-style: none;
	padding: 20px;
	border-bottom: 2px dotted #ec6b06;
	font-size: 24px;
	margin-left: 2px;
}
#available_daily_wrapper{
	background: #fff;
	border-top: 4px dotted #7bba4b;
	position: absolute;
	top: 1486px;
	left: 83px;
	width: 2320px;
	display:block;
}
#available_daily{
	position: static;
	top: 1510px;
	left: 83px;
	width: 2300px;
	height:auto;
	padding: 0px 25px 25px 25px;
	margin:0;
	font-size: 27px;
	line-height:29px;
	clear: both;
	border-bottom: 10px solid #7bba4b;
}

#available_daily p {
	margin: 0;
	padding: 0;
}

#available_daily_wrapper h3{
	padding: 25px 25px 0px 25px;
	font-weight: 700;
	margin: 0;
}